<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-spotify-oauth" version="0.1.6" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>cordova-spotify-oauth</name>

    <hook type="before_plugin_install" src="package.sh" />

    <js-module name="cordova-spotify-oauth" src="www/build/spotify-oauth.min.js">
        <merges target="cordova.plugins"/>
    </js-module>

    <dependency id="es6-promise-plugin"/>

    <platform name="android">
        <config-file target="config.xml" parent="/*">
            <feature name="SpotifyOAuth">
                <param name="android-package" value="rocks.festify.SpotifyOAuthPlugin"/>
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <activity
                android:name="com.spotify.sdk.android.authentication.LoginActivity"
                android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        </config-file>

        <source-file src="src/android/SpotifyOAuthPlugin.java" target-dir="src/rocks/festify"/>

        <framework src="src/android/build.gradle" custom="true" type="gradleReference" />
    </platform>

    <platform name="ios">
        <hook type="before_plugin_install" src="install-ios.sh"/>

        <config-file target="config.xml" parent="/*">
            <feature name="SpotifyOAuth">
                <param name="ios-package" value="SpotifyOAuthPlugin"/>
            </feature>
        </config-file>

        <dependency id="cordova-plugin-add-swift-support" version="1.6.1"/>

        <framework src="src/ios/spotify-sdk/SpotifyAuthentication.framework" custom="true"/>

        <source-file src="src/ios/SpotifyOAuthPlugin.swift"/>
        <header-file src="src/ios/SpotifyOAuth-Bridging-Header.h"/>
    </platform>
</plugin>
